.container {
  display: flex;
  min-height: 100vh;

  .mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
      padding: 16px 32px;
      background-color: #fff;
      border-bottom: 1px solid #e5e7eb;
    }

    .pageContent {
      flex: 1;
      padding: 32px;
      background-color: #f9fafb;
    }

    footer {
      border-top: 1px solid #e5e7eb;
    }
  }
}
