.container {
  color: $black-color;
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
}

.aside {
  flex: 1;
  background-image: url("/banner.webp");
  background-size: cover;
  background-position: center;
}

a {
  color: $primary-color;
}

*:disabled {
  cursor: not-allowed;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: $white-color;

  .form {
    small {
      text-align: center;
    }
  }

  img {
    max-width: 320px;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
    margin-bottom: 2rem;
    font-weight: 200;
    color: $black-color;
  }

  form {
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .passwordView {
      position: relative;

      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        border: 0;
        background: none;
        color: $gray-color;
      }
    }

    input {
      padding: 0.75rem 1rem;
      width: 100%;
      font-size: 1rem;
      border: 1px solid $gray-color;
      &:focus {
        border-color: $black-color;
        outline: none;
      }
    }
  }
}
