.primary {
  background: $primary-color;
  color: $white-color;
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  border: none;
  
  &:hover {
    background-color: $secondary-color;
    
  }
}
