@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif, Arial, Helvetica;
}
